body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.4em;
  background-image: url('img/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

#menu, #game, #result {
  margin-top: 20vh;
}

button {
  padding: 12px 24px;
  margin: 15px;
  font-size: 1.2em;
  background-color: #1e3a5f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #274d77;
}

#phraseDisplay {
  font-size: 1.4em;
  padding: 20px;
  line-height: 1.5;
}

#phraseDisplay span {
  padding: 0 4px;
}

.correct {
  color: lightgreen;
}

#inputBox {
  margin-top: 25px;
  padding: 12px;
  font-size: 1.3em;
  width: 85%;
  max-width: 600px;
}

#wpmResult {
  font-size: 1.3em;
  margin-top: 20px;
  line-height: 1.6;
}

.ranking-box {
  margin-top: 30px;
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  max-width: 300px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

#topScores {
  background: black;
  padding: 20px;
  border: 3px solid #ff0099;
  border-radius: 10px;
  margin-top: 20px;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px #ff0099, 0 0 10px #00ffff;
}

.arcade-table {
   font-family: 'Press Start 2P', monospace;
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}